.wrapper {
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
}

.quantityBtns {
    margin: 0.5rem;
}

.count{
    display: flex;
    align-items: center;
}

.data{
    margin-bottom: 1rem;
}
