.homePageWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100vh;
  position: fixed;
  overflow-y: scroll;
}

.bodyWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 22rem;
  height: 100%;
  min-height: 100vh;
}

.cardWrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.sideMenu {
  background-color:rgb(224, 224, 231);
  position: fixed;
  width: 22rem;
  height: 100vh;
  overflow: scroll;
}
